<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <link rel="icon" href="/img/icon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <script type="text/javascript" src="/js/main.bundle.js"></script>

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="canonical" href="http://descargabot.com.ar" />
    <meta
      name="description"
      content="Looking for how to download twitter video(s) on your android, iphone or desktop devices. Copy link to twitter post, paste it in the box below & click the download button to download immediately."
    />
    <meta
      name="keyword"
      content="Download, Twitter, Twitter Download, download twitter video(s)"
    />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@DescargaBot" />
    <meta property="og:url" content="http://www.descargabot.com.ar/" />
    <meta property="og:title" content="Download Twitter Videos" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title><%= screen_name%>'s videos |DescargaBot| Descargue videos de twitter</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-80337204-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-80337204-2");
    </script>

    <!-- Adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5445981233423751"
     crossorigin="anonymous"></script>
    <!-- Hotjar Tracking Code for www.savevideo.xyz -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MBP6CK8HSM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MBP6CK8HSM');
    </script>
  </head>

  <body class="pt-sm-5 pt-10">
    <header class="bg-primary fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="/">DescargaBot</a>
          <form
            class="form-inline my-2 my-lg-0"
            method="POST"
            action="/downloads"
          >
            <input
              id="screen_name"
              class="form-control mr-sm-2"
              type="search"
              name="screen_name"
              placeholder="Ingresa tu @usuario"
              aria-label="Search"
            />
            <button class="btn btn-primary my-2 my-sm-0" type="submit">
              Buscar mis descargas!
            </button>
          </form>
        </nav>
      </div>
    </header>
    <div class="container min-w-download">
      <br />
       <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Descargas @<%= screen_name%></li>
        </ol>
      </nav>
      <div class="row">
        <div class="col-12">
          <h2 class="" style="color: #eb9316">Videos de @<%= screen_name%></h2>
          <p class="text-sm-left text-muted">
            <i class="fas fa-eye"></i> Mostrando los videos de las últimas 48hs.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-12">
          <% if(results.length) { %> <% results.forEach(function(result, index){
          %>

          <div class="card">
            
            <div class="card-body">
              <a

                target="_blank"
                href="/downloads?URL=<%= result.media[0].url%>"
                style="color: #fff"
                class="btn btn-primary float-right"
                download
                ><i class="fas fa-arrow-down"></i>&nbsp; Descargar</a>
                
              <a

                target="_blank"
                href="http://www.twitter.com/<%= screen_name%>/status/<%= result.original_tweetID%>"
                style="color: #fff"
                class="btn btn-warning"
                download
                ><i class="fas fa-arrow-down"></i>&nbsp; Ver tweet</a>
              <br /><br />
              <p class="card-text">
                <small class="text-muted"><%= result.generated_date%></small>
              </p>
            </div>
          </div>
          <!-- <% if(index%2 == 0) {%>
         
          <% }%>  -->
          <% }); %> 
          <% } else { %>

          <p style="font-size: 30px; text-align: center">
            <i class="fas fas-ban"></i>
          </p>
          <h3 style="text-align: center">
            No encontramos descargas recientes :(
              Intentalo más tarde! 
          </h3>
          <% } %>
        </div>
      </div>
      <br/> <br/>
      <div class="row">
        <div class="col-sm-6 col-12 mb-5">
          <div class="card">
            <div class="card-header">
              Información útil:
            </div>
            <div class="card-body">
                <h4 class="font-weight-bold">## Quien soy ?</h4>
                <p>
                  Soy un bot de twitter, que ayuda a que descargues contenido multimedia en la red social.
                  Mencionando a @<a href="https://twitter.com/descargabot"
                    >DescargaBot</a
                  >
                  en twitter, en un comentario del video que quieras descargar, te responderé a la brevedad con el link de descarga del mismo.
                </p>
                <h4>O</h4>
                Copia el link del twitt que contenga el video y pégalo en la página de <a href="/">Inicio</a> donde podrás descargarlo de forma directa.
            </div>
          </div>
        </div>
      </div>

      <br/> <br/>
      <div class="row">
        <div class="col-sm-6 col-12 mb-5">
          <div class="card">
            <div class="card-header">
              Información útil:
            </div>
            <div class="card-body">
                <h4 class="font-weight-bold">## ¿Cómo puedo contactarte?</h4>
                <p>
                  Directamente puedes enviarme un mensaje directo a mi cuenta de twitter @<a
                    href="https://twitter.com/descargabot"
                    >descargabot</a
                  >
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                      <h3>Espacios</h3>
                      <ul>
                          <li><a href="https://twitter.com/DescargaBot">Bot Twitter</a></li>
                          <li><a href="https://twitter.com/tostad0r">tostad0r - Desarrollador</a></li>
                          <li><a href="https://developer.twitter.com">Información Twitter Development</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 item">
                      <h3>Desarrollador</h3>
                      <ul>
                          <li><a href="https://www.linkedin.com/in/lautarodelloni/">Linkedin</a></li>
                          <li><a href="https://github.com/Devllo">GitHub</a></li>
                          <li><a href="https://github.com/devlloni">GitHub 2</a></li>
                      </ul>
                  </div>
                  <div class="col-md-6 item text">
                      <h3>DescargaBot</h3>
                      <p>Todos los elementos presentados en la página de downloads no poseen ningún tipo de autoría por parte de DescargaBot, sino que simplemente brindamos la herramienta para poder acceder a archivos/contenido multimedia presentado ya en diferentes espacios de Twitter.</p>
                  </div>
                  <!-- <div class="col item social"><a href="https"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div> -->
              </div>
              <p class="copyright">DescargaBot © 2021 - 2023</p>
          </div>
      </footer>
    </div>
    <script>window.savetweetSource = "downloads"</script>
    <script src="/js/ads.js"></script>
  </body>
</html>
